body {
	background-color: #FFFFFF; 
	font-family: Arial, Times New Roman, Verdana; 
	font-size: 10pt;
	margin-top: 0;
	scrollbar-face-color:#dee3e7; 
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #dee3e7; 
	scrollbar-3dlight-color: #d1d7dc; 
	scrollbar-track-color: #efefef; 
	scrollbar-arrow-color: #006699; 
	scrollbar-darkshadow-color: #98aab1	
}

th {
	background-color: #1a69bf; 
	color: #880000; 
	font-family: Arial Unicode MS, Times New Roman, Verdana; 
	font-size: 11pt; 
	font-weight: bold; 
	padding-top: 2; 
	margin: 0px
}
td {
	font-family: Arial Unicode MS, Times New Roman, Verdana; 
	font-size: 10pt
}
select {
	border-top: #b0b0b0 1px solid; 
	border-right: #b0b0b0 1px solid; 
	border-bottom: #b0b0b0 1px solid; 
	border-left: #b0b0b0 1px solid; 
	font-family: Arial Unicode MS, Times New Roman, Verdana; 
	color: #000080; 
	font-size: 10pt
}
textarea {
	border-top: #5d5d5d 1px solid; 
	border-right: #5d5d5d 1px solid; 
	border-bottom: #5d5d5d 1px solid; 
	border-left: #5d5d5d 1px solid; 
	font-family: Arial Unicode MS, Times New Roman, Verdana; 
	color: #000080; 
	font-size: 10pt
}
a {
	color: #000049;
	text-decoration: none	
}
a visited {
	color: #990000; 
	text-decoration: none
}
a link {
	color: #000080; 
	text-decoration: none
}
a active {
	color: #000088; 
	text-decoration: none
}
a hover {
	color: #000099; 
	text-decoration: none
}
.lbTextbox 
{
	border-top: #5d5d5d 1px solid; 
	border-right: #5d5d5d 1px solid; 
	border-bottom: #5d5d5d 1px solid; 
	border-left: #5d5d5d 1px solid; 
	font-family: Arial Unicode MS, Times New Roman, Verdana; 
	color: #000080; 
	font-size: 10pt;
    padding: 4px;
}
.lbRadio 
{    
    border-bottom-style:none;
    border-left-style: none;
	font-family: Arial Unicode MS, Times New Roman, Verdana;
	color: #000080; 
	font-size: 10pt	
}
.lbCheckbox {
	font-family: Arial Unicode MS, Times New Roman, Verdana;
	color: #000080;
	font-size: 10pt	
}
.lbButton {
    background-color: #1E6EC5;
	border-top: #f0f3f4;
	border-left: #f0f3f4;
	border-right: #5d5d5d 1px solid; 
	border-bottom: #5d5d5d 1px solid; 
	color: #486195;
	font-size: 10pt;
	font-weight: bold;
    color: #FFF;
	padding: 6px;
    cursor: pointer;
}
.lbLinkFunction {
	font-family: Arial,Arial Unicode MS, Verdana,Times New Roman;
	font-weight:bold;
	color: blue;
	font-size: 8pt;		
	text-decoration: none
}

.lbLinkHeader {
	font-family: Arial,Arial Unicode MS, Verdana,Times New Roman;
	font-weight: normal;
	color: White; 
	font-size: 8pt;		
	text-decoration: none
}
.lbLinkItem {
	font-family: Arial,Arial Unicode MS, Verdana,Times New Roman;
	font-weight: normal;
	color: #004D71; 
	font-size: 10pt;		
	text-decoration: underline
}
.lbDropDownList 
{
	border-top: #5d5d5d 1px solid; 
	border-right: #5d5d5d 1px solid; 
	border-bottom: #5d5d5d 1px solid; 
	border-left: #5d5d5d 1px solid; 
	font-family: Arial Unicode MS, Times New Roman, Verdana; 
	color: #000000; 
	font-size: 10pt;
    padding: 4px;
}
.lbError 
{
	color: red; 
	font-size: 9pt;
}
a:hover.lbLinkItem {
	color: #818110; 	
}

.lbGrid 
{	
	border-style: none;
    border-right-style:solid;
    border-right-color: #34B1D9;
    border-left-style: solid ;
    border-left-color: #34B1D9;    
    border-top-style: solid ;
    border-top-color: #34B1D9;
    border-bottom-style: solid ;
    border-bottom-color: #34B1D9;                            
}
.lbGridHeader 
{	
	background-color:#4686cc;
	font-family: Arial Unicode MS, Verdana;
	font-size: small ;
	font-weight: bold;
	color:White;
    text-align:center;        
}
.lbGridCell 
{
	background-color:e5eeF8;
	font-family: Arial Unicode MS, Verdana;
	font-size: small ;
	color: #132942;	
}
.lbGridAlterCell 
{
	background-color:d8e5F4;
	font-family: Arial Unicode MS, Verdana;
	font-size: small ;
	color: #132942;
}
.lbGridPager {
	background-color:eebb88;
	font-family: Arial Unicode MS, Verdana;
	font-size: small;
	font-weight:bold;
	color: #ffffff	
}
.lbGridEdit {
	background-color:#CCCCCC;
	font-family: Arial Unicode MS, Verdana;
	font-size: small;
	font-weight:bold;
	color: #ffffff
}

.lbPageTitle
{
    height: 28px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 14pt;
	padding-bottom: 2px;
	color: #ffffff;
	/*padding-top: 2px;*/
	font-family: Times New Roman, Arial Unicode MS, Verdana;
	background-color: #1E6EC5;
}
.lbTrPageTitle 
{
	background: 336699;
	color: #ffffff; 
	font-weight: bold;
	font-family: Times New Roman, Arial Unicode MS, Verdana; 
	font-size: 18pt;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px	
}
.lbGroupTitle
{
	font-weight: bold;
	font-size: 13pt;
	color: #ffffff;
	font-family: Times New Roman;
	background-color: #34B1D9;
}
.lbFunctionTitle {
	font-weight: bold;
	font-family:  Arial Unicode MS;
	font-size: 10pt;
	color:#000066;
}
.lbFunctionDetail 
{
	font-family:Tahoma;
	font-size: 8pt;
	padding-top: 2px;
}
.lbSubformTitle 
{
	background-color: #1A69BF;
	font-family: Arial Unicode MS;
	font-size: 10pt;
	font-weight: bold;
	color: White;
	padding-left:8px
}
.lbLabel {
	color: #000000; 
	font-family: Arial, Arial Unicode MS, Times New Roman, Verdana; 
	font-size: 10pt 
}
.lbSubTitle
{
	font-family: Arial Unicode MS, Times New Roman, Verdana; 
	font-size: 12pt;
    font-weight: bold
}
.lbAmount
{
	color: 990000;
	font-family: Arial Unicode MS, Times New Roman, Verdana;
	font-size: 10pt;
	font-weight: bold
}
.lbTransparentBgLabel
{
	background-color: Transparent;
	color: White; 
	font-family: Arial Unicode MS, Times New Roman, Verdana; 
	font-size: 10pt; 
}

.lbControlBar
{
	background-color: #c0c0c0; 
	font-family: Arial Unicode MS, Times New Roman, Verdana; 
	font-size: 10pt;
	margin-top: 0;
	scrollbar-face-color:#dee3e7; 
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #dee3e7; 
	scrollbar-3dlight-color: #d1d7dc; 
	scrollbar-track-color: #efefef; 
	scrollbar-arrow-color: #006699; 
	scrollbar-darkshadow-color: #98aab1	
}
.lbLibolLabel60 {
	color: darkred; 
	font-family: Arial Unicode MS, Times New Roman, Verdana; 
	font-size: 20pt 
}
.lbShowDetail 
{
	background-color: #34B1D9;
	font-family: Arial Unicode MS;
	font-size: 12pt;
	font-weight: bold;
	color: #FFFF99;
	padding-left:8px
}
.lbTitleHeader 
{
	color: Black;
	font-family: Arial Unicode MS, Times New Roman, Verdana ;
	font-size:19pt;
	font-weight:bold;
}
.lbLabelHeader {
	color: White;
	font-family: Arial Unicode MS, Times New Roman, Verdana ;
	font-size: x-small;
}	


		
.tblMenuLeft a:hover
{
	color: White;
	}
	
.tblMenuLeft a:visited
{
	color: White;
	}
		
.tblMenuLeft a
{
	color: Blue;
	}

.Table2NoBorder {
            /*width: 100%;*/
            border: 0px;
            border-collapse: collapse;
        }

            .Table2NoBorder td {
                padding: 3px;
                border: 0px !important;
                white-space: nowrap;
            }